<?xml version="1.0" encoding="utf-8"?>
<Media Key="a7ae62f5-57d9-4cfd-a238-9781244aea6c" Alias="Annual Report for Juva Inc." Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AnnualReportForJuvaInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T16:00:44</CreateDate>
    <NodeName Default="Annual Report for Juva Inc." />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/pkuoqenq/pj1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>