<?xml version="1.0" encoding="utf-8"?>
<Media Key="b537429d-005f-440c-bbbb-46d827c49221" Alias="Arrow" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Arrow</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-04T20:36:36</CreateDate>
    <NodeName Default="Arrow" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ckehcazw/vector.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>