<?xml version="1.0" encoding="utf-8"?>
<Media Key="57212a0a-fa77-4272-856e-e6aeb356c927" Alias="Assurance &amp; Audits" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AssuranceAudits</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T09:55:32</CreateDate>
    <NodeName Default="Assurance &amp; Audits" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/qxqgpyi4/image-13-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>