<?xml version="1.0" encoding="utf-8"?>
<Media Key="72976ebd-7212-4b71-87ef-54f0d87abcae" Alias="backgrounds" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/backgrounds</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-08-26T12:44:47</CreateDate>
    <NodeName Default="backgrounds" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>