<?xml version="1.0" encoding="utf-8"?>
<Media Key="23692d41-c508-4cd4-b788-b84c14e6db39" Alias="Budget Planning for Buccura Inc." Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BudgetPlanningForBuccuraInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T16:01:49</CreateDate>
    <NodeName Default="Budget Planning for Buccura Inc." />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/z1td5flb/pj4.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>