<?xml version="1.0" encoding="utf-8"?>
<Media Key="9434aad5-2662-4372-9b90-c330a0ae4ac3" Alias="Business Insights for SP Group Inc." Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T16:01:02</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc." />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/ljqheiql/pj2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>