<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2a0fefb-05e5-43ce-8b4b-ca9d95758323" Alias="dot-map 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotMap1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T11:23:48</CreateDate>
    <NodeName Default="dot-map 1.png" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/oq0om3em/dot-map-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>