<?xml version="1.0" encoding="utf-8"?>
<Media Key="caf8338f-826a-4b77-b586-4e9ab0f7054a" Alias="Dot map.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DotMappng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T15:09:41</CreateDate>
    <NodeName Default="Dot map.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ad2l25ad/dot-map.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>