<?xml version="1.0" encoding="utf-8"?>
<Media Key="8593b5b9-230e-4f85-9ccb-30f824e17259" Alias="Financial Advisor to Irra Corp Inc." Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisorToIrraCorpInc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T16:01:19</CreateDate>
    <NodeName Default="Financial Advisor to Irra Corp Inc." />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/gz5nkm1h/pj3.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>