<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e0b7688-4a66-4058-9879-a7c6e1ee06de" Alias="Financial Advisor" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FinancialAdvisor</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T09:55:57</CreateDate>
    <NodeName Default="Financial Advisor" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/a44e0kap/image-23-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>