<?xml version="1.0" encoding="utf-8"?>
<Media Key="883eb8c2-4687-415b-adbe-9870c8892968" Alias="Fossil Group" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FossilGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T15:48:15</CreateDate>
    <NodeName Default="Fossil Group" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/jvzhqpxo/06.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>