<?xml version="1.0" encoding="utf-8"?>
<Media Key="27e33cf9-f0b7-466e-8970-64dd5aaba6c2" Alias="Globe" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Globe</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T15:48:04</CreateDate>
    <NodeName Default="Globe" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/o11kleo4/05.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>