<?xml version="1.0" encoding="utf-8"?>
<Media Key="9dfc3900-4c1c-4ee6-8e38-c44c58ea945c" Alias="Icon mail.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IconMailpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-09T13:20:56</CreateDate>
    <NodeName Default="Icon mail.png" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/r5zluk1v/icon-mail.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>