<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1fc0182-1f25-4583-8e69-86d2b5b4ab35" Alias="image-104 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/image1041png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T13:53:52</CreateDate>
    <NodeName Default="image-104 1.png" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/bxfluf0m/image-104-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>