<?xml version="1.0" encoding="utf-8"?>
<Media Key="0456786c-3266-4bd8-92ca-8cce9b0a838c" Alias="Img-1-4 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Img141png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T19:58:21</CreateDate>
    <NodeName Default="Img-1-4 1.png" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2ozbbmqp/img-1-4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>