<?xml version="1.0" encoding="utf-8"?>
<Media Key="08e9a3c6-b02e-40b7-9943-dd66c27cf595" Alias="Img.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Imgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T12:34:20</CreateDate>
    <NodeName Default="Img.png" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/jful5psh/img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>