<?xml version="1.0" encoding="utf-8"?>
<Media Key="2afa04f9-a3a8-40d9-889d-e714fb744065" Alias="img_choose_01_home01 2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/img_choose_01_home012png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T13:53:52</CreateDate>
    <NodeName Default="img_choose_01_home01 2.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/o1hlzhgb/img_choose_01_home01-2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>