<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6ec9d85-8ef8-44d7-9c00-54a16541d882" Alias="Natural" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Natural</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T15:47:44</CreateDate>
    <NodeName Default="Natural" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/bjlluyer/03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>