<?xml version="1.0" encoding="utf-8"?>
<Media Key="7381a1f5-09b0-4505-a17d-a2eba9ca7ca7" Alias="Onatrix" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Onatrix</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-30T10:31:10</CreateDate>
    <NodeName Default="Onatrix" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a2ochenl/brand.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>