<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd43a212-84c4-400c-baee-d509eab548b3" Alias="pj4 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pj41png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-12T19:56:29</CreateDate>
    <NodeName Default="pj4 1.png" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tvuak03n/pj4-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>