<?xml version="1.0" encoding="utf-8"?>
<Media Key="f5ac1fcd-1fa3-4746-863f-00671f4be172" Alias="Rating.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ratingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T10:38:43</CreateDate>
    <NodeName Default="Rating.png" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ilkpuq4k/rating.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>