<?xml version="1.0" encoding="utf-8"?>
<Media Key="c80853b8-c2e7-476b-94f2-ff45971fee6d" Alias="Risk Management" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RiskManagement</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T09:54:40</CreateDate>
    <NodeName Default="Risk Management" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/g4mf25uo/image-21-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>