<?xml version="1.0" encoding="utf-8"?>
<Media Key="1c87fa54-3f2a-45ee-adb6-b13978a3d52e" Alias="sl-home2.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/slHome2png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-29T15:49:32</CreateDate>
    <NodeName Default="sl-home2.png" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/1mymdksd/sl-home2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>