<?xml version="1.0" encoding="utf-8"?>
<Media Key="12a06b70-102e-4014-99b4-ea2d523042f9" Alias="Statistic Advisors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StatisticAdvisors</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T09:56:09</CreateDate>
    <NodeName Default="Statistic Advisors" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/54qpnjch/image-24-min-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>