<?xml version="1.0" encoding="utf-8"?>
<Media Key="c03dbcd1-d4da-49f1-ad53-92ba0de1c07b" Alias="Title.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Titlepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-02T12:28:40</CreateDate>
    <NodeName Default="Title.png" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lz1hw3vt/title.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>