<?xml version="1.0" encoding="utf-8"?>
<Media Key="6eb6d369-f938-4bde-8fb1-430f1da5170b" Alias="Video 1.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Video1png</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-09-03T15:09:15</CreateDate>
    <NodeName Default="Video 1.png" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/2ympbwcr/video-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>