<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7f567f63-cc1d-4901-bf76-d6e99ad240a6" Alias="servicesPage" Level="2">
  <Info>
    <Name>Services Page</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="eaeb8b71-4e33-4c96-a378-fb1d2d448548">aboutPage</Composition>
      <Composition Key="54a8d1f8-b145-4fa8-8bd2-0337e7b9004b">homePage</Composition>
    </Compositions>
    <DefaultTemplate>servicesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="daad89b0-b09b-46ef-8a04-c27c4a7272a0">servicesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="80034e4e-532f-413d-8523-7c29954f1af9" SortOrder="0">ourServices</ContentType>
    <ContentType Key="6d706a11-98b9-445a-beaa-971d2088645e" SortOrder="1">serviceDetail</ContentType>
    <ContentType Key="7f567f63-cc1d-4901-bf76-d6e99ad240a6" SortOrder="2">servicesPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>