<?xml version="1.0" encoding="utf-8"?>
<DataType Key="31c26f90-6c79-4cfd-b1f8-5e8500b06911" Alias="About Page - Our Team Section - Images - Member Group Picker Property Editor UI" Level="1">
  <Info>
    <Name>About Page - Our Team Section - Images - Member Group Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.MemberGroupPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MemberGroupPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>