<?xml version="1.0" encoding="utf-8"?>
<DataType Key="becae990-b425-41e7-857e-4e07d05f0cb2" Alias="Home Page - Why Choose Us - Styled Text - Color Picker Property Editor UI" Level="1">
  <Info>
    <Name>Home Page - Why Choose Us - Styled Text - Color Picker Property Editor UI</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "4F5955",
      "label": ""
    },
    {
      "value": "D9C3A9",
      "label": ""
    }
  ]
}]]></Config>
</DataType>