@keyframes pronounced-bounce {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(10px);
    }

    70% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

.bounce-effect {
    animation: pronounced-bounce 1s ease-out forwards;
}

.background-dot {
    position: absolute;
    top: -62%;
    right: 50%;
    transform: translateX(50%);
    width: 1170px;
    height: 540px;
    z-index: 1;
    clip-path: inset(0 0 50% 0);
}