#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #4F5955;
    color: #FFFFFF;
    padding: 20px 25px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 1000;
}

    #back-to-top:hover {
        background-color: #333;
        color: #F2EDDC;
    }
