body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #4F5955;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    flex: 1;
}

.white-bg {
    background-color: #FFFFFF;
}

.content-wrapper {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}