<?xml version="1.0" encoding="utf-8"?>
<Content Key="f0149add-764a-40fb-8f24-f154d01c7169" Alias="About" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2024-08-29T14:08:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0cbf2aa3-5a56-4d1b-8cec-24c72db037bf">aboutPage</Template>
  </Info>
  <Properties>
    <aboutBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "c8ce587c-ce80-4959-bd59-72e7f04e2fdf",
    "mediaKey": "08e9a3c6-b02e-40b7-9943-dd66c27cf595",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBackgroundImage>
    <aboutBackToHomepage>
      <Value><![CDATA[umb://document/e8bc52aac666492bbdefe6a1e1c83c75]]></Value>
    </aboutBackToHomepage>
    <aboutMainContentImage>
      <Value><![CDATA[[
  {
    "key": "9376bdad-5969-4072-bb5e-f3c4d424a250",
    "mediaKey": "c2fc21ab-2b18-4e76-8027-398b6a842b6e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutMainContentImage>
    <aboutMainContentImageCaption>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutMainContentImageCaption>
    <aboutMainContentQuote>
      <Value><![CDATA["We have over 25 years of experience providing expert financial advice to both businesses and individuals."]]></Value>
    </aboutMainContentQuote>
    <aboutMainContentText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutMainContentText>
    <aboutPagepicker>
      <Value><![CDATA[umb://document/f0149add764a40fb8f24f154d01c7169]]></Value>
    </aboutPagepicker>
    <contactInfoBackgroundDot>
      <Value><![CDATA[[
  {
    "key": "cc386e6e-a74e-4ee4-9bb4-68265fc7fb23",
    "mediaKey": "be59f252-c89f-43f2-9aa4-3329b59cc5e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundDot>
    <contactInfoBackgroundFigure>
      <Value><![CDATA[[
  {
    "key": "713d5417-db01-4c24-a635-ff61aa75718a",
    "mediaKey": "f63128c7-48d6-462a-81f5-45dd8039d63f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundFigure>
    <contactInfoBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "5d3aa84b-7698-40c7-b22e-e18e07b7b37d",
    "mediaKey": "a24edbe8-479f-4125-baa9-33709643657b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundImage>
    <contactInfoEmailAddressHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInfoEmailAddressHeadline>
    <contactInfoEmailAddressIcon>
      <Value><![CDATA[[
  {
    "key": "f7e1ec26-10ae-4dcc-b595-7abe1de6f764",
    "mediaKey": "4c6d5cf8-f9f6-44e5-a42f-2f4a6c099cde",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoEmailAddressIcon>
    <contactInfoEmailAddressInfo>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInfoEmailAddressInfo>
    <contactInfoLocationHeadline>
      <Value><![CDATA[Office location]]></Value>
    </contactInfoLocationHeadline>
    <contactInfoLocationIcon>
      <Value><![CDATA[[
  {
    "key": "01041fe5-27c1-48c9-9889-fc605885cf7a",
    "mediaKey": "0fd3d2ff-359d-4c46-a9f4-597f186ca7ad",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoLocationIcon>
    <contactInfoLocationInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInfoLocationInfo>
    <contactInfoPhoneNumberHeadline>
      <Value><![CDATA[Phone number]]></Value>
    </contactInfoPhoneNumberHeadline>
    <contactInfoPhoneNumberIcon>
      <Value><![CDATA[[
  {
    "key": "410aaf2d-46ef-4fd7-a894-dbcbc0508701",
    "mediaKey": "1f461916-6ead-4fa7-aa09-ae930235c8ce",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoPhoneNumberIcon>
    <contactInfoPhoneNumberInfo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInfoPhoneNumberInfo>
    <contactInfoSectionTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoSectionTitle>
    <description>
      <Value><![CDATA[Financial]]></Value>
    </description>
    <heroTitle>
      <Value><![CDATA[About Us]]></Value>
    </heroTitle>
    <ourTeamSectionHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </ourTeamSectionHeadline>
    <ourTeamSectionImages>
      <Value><![CDATA[[
  {
    "key": "82d28e26-574c-4a68-8dd0-24b88ed43b8c",
    "mediaKey": "fd2e782a-45b0-43d5-91ce-bd0a85618ad4",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "85983754-f36b-4a16-81b8-cb26c29e5a6a",
    "mediaKey": "7585e070-b08a-418f-8e93-3729c54cd8f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "9dc18f92-e7fd-45a5-808b-43d2fb2492f4",
    "mediaKey": "e59945b9-7bdd-4cea-b07b-547e6844880e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d2971d31-360c-446c-92df-91289c4efdaa",
    "mediaKey": "92fcac3f-ead4-40ad-b8bf-c4e38d6356af",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "dd637afc-847d-4365-84df-06f85fa28fba",
    "mediaKey": "a1fc0182-1f25-4583-8e69-86d2b5b4ab35",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "10ffddfd-1fc8-4410-9f5e-8cf460d72a5e",
    "mediaKey": "2afa04f9-a3a8-40d9-889d-e714fb744065",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "3a5a46a7-8431-4b9f-b861-3b402b3f4980",
    "mediaKey": "eac3a6ee-277f-44ae-9f2e-29c7bfcc09a2",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d76aa442-acc2-4b75-945e-63b0fa224707",
    "mediaKey": "c2fc21ab-2b18-4e76-8027-398b6a842b6e",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourTeamSectionImages>
    <ourTeamSectionTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </ourTeamSectionTitle>
    <testimonialsHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </testimonialsHeadline>
    <testimonialsMainImage>
      <Value><![CDATA[[
  {
    "key": "145fef10-0697-42f7-ae01-b1b67e833c2e",
    "mediaKey": "00e4f7b2-1f17-4efd-a74e-6bf8ed7ebb3c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </testimonialsMainImage>
    <testimonialsQuote>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </testimonialsQuote>
    <testimonialsSectionTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </testimonialsSectionTitle>
    <testimonialsSignature>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </testimonialsSignature>
    <testimonialsSignatureBrand>
      <Value><![CDATA[Swebank]]></Value>
    </testimonialsSignatureBrand>
    <testimonialsSignatureImage>
      <Value><![CDATA[[
  {
    "key": "164d9b8a-d886-4689-b411-0b0f75110ce4",
    "mediaKey": "f5ac1fcd-1fa3-4746-863f-00671f4be172",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </testimonialsSignatureImage>
  </Properties>
</Content>