<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4050136-437c-468c-878e-4021b85c2640" Alias="Business Insights for SP Group Inc." Level="3">
  <Info>
    <Parent Key="1bf69194-864f-4e22-9c7b-15248b571e00">Projects</Parent>
    <Path>/Home/Projects/BusinessInsightsForSPGroupInc</Path>
    <Trashed>false</Trashed>
    <ContentType>projectsDetail</ContentType>
    <CreateDate>2024-09-11T10:05:33</CreateDate>
    <NodeName Default="Business Insights for SP Group Inc." />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="073826df-507a-403c-9bc6-dae3ac359fa1">projectsDetail</Template>
  </Info>
  <Properties>
    <aboutBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "05c278c3-f2ea-4b15-bfd6-6dc6e5f41d9e",
    "mediaKey": "08e9a3c6-b02e-40b7-9943-dd66c27cf595",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBackgroundImage>
    <aboutBackToHomepage>
      <Value><![CDATA[umb://document/e8bc52aac666492bbdefe6a1e1c83c75]]></Value>
    </aboutBackToHomepage>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutMainContentImage>
      <Value><![CDATA[[
  {
    "key": "e04d1046-250d-40c2-92fe-7b58a376ff77",
    "mediaKey": "9dfc3900-4c1c-4ee6-8e38-c44c58ea945c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutMainContentImage>
    <aboutMainContentImageCaption>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImageCaption>
    <aboutMainContentQuote>
      <Value><![CDATA[]]></Value>
    </aboutMainContentQuote>
    <aboutMainContentText>
      <Value><![CDATA[]]></Value>
    </aboutMainContentText>
    <aboutPagepicker>
      <Value><![CDATA[umb://document/f4050136437c468c878e4021b85c2640]]></Value>
    </aboutPagepicker>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <additionalImage>
      <Value><![CDATA[[
  {
    "key": "74363134-1036-4ad5-acd9-9275bb4a3402",
    "mediaKey": "0456786c-3266-4bd8-92ca-8cce9b0a838c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </additionalImage>
    <contactInfoBackgroundDot>
      <Value><![CDATA[[
  {
    "key": "a6aa0d46-0bb3-42b1-8cc9-32c130a75f83",
    "mediaKey": "be59f252-c89f-43f2-9aa4-3329b59cc5e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundDot>
    <contactInfoBackgroundFigure>
      <Value><![CDATA[[
  {
    "key": "0bb7ce8e-fd39-41a7-9ff6-0a230d8e3f0e",
    "mediaKey": "f63128c7-48d6-462a-81f5-45dd8039d63f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundFigure>
    <contactInfoBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "3d471080-2ed1-4743-9b93-36dce3ab03a9",
    "mediaKey": "a24edbe8-479f-4125-baa9-33709643657b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundImage>
    <contactInfoEmailAddressHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInfoEmailAddressHeadline>
    <contactInfoEmailAddressIcon>
      <Value><![CDATA[[
  {
    "key": "4bc8af06-1ddb-4551-96ac-bb659d73ee4d",
    "mediaKey": "4c6d5cf8-f9f6-44e5-a42f-2f4a6c099cde",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoEmailAddressIcon>
    <contactInfoEmailAddressInfo>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInfoEmailAddressInfo>
    <contactInfoLocationHeadline>
      <Value><![CDATA[Office Location]]></Value>
    </contactInfoLocationHeadline>
    <contactInfoLocationIcon>
      <Value><![CDATA[[
  {
    "key": "16bea7bc-d65d-4d72-8585-fc43a45fc227",
    "mediaKey": "0fd3d2ff-359d-4c46-a9f4-597f186ca7ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoLocationIcon>
    <contactInfoLocationInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInfoLocationInfo>
    <contactInfoPhoneNumberHeadline>
      <Value><![CDATA[Phone Number]]></Value>
    </contactInfoPhoneNumberHeadline>
    <contactInfoPhoneNumberIcon>
      <Value><![CDATA[[
  {
    "key": "461829ea-8999-4ca4-b8f1-85080e645bd3",
    "mediaKey": "1f461916-6ead-4fa7-aa09-ae930235c8ce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoPhoneNumberIcon>
    <contactInfoPhoneNumberInfo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInfoPhoneNumberInfo>
    <contactInfoSectionTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoSectionTitle>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <formDescription>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formDescription>
    <formHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </formHeadline>
    <formImage>
      <Value><![CDATA[[
  {
    "key": "5fbe462f-a9f3-4f84-9fe2-5282e77980da",
    "mediaKey": "9dfc3900-4c1c-4ee6-8e38-c44c58ea945c",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formImage>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </heroTitle>
    <imageWithText>
      <Value><![CDATA[[
  {
    "key": "5bbcae91-59b3-4999-980d-85372d38bc57",
    "mediaKey": "62f70ffc-6fdb-4cde-b406-f1c667ccd58f",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageWithText>
    <imageWithTextDescription>
      <Value><![CDATA[Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus.

Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum]]></Value>
    </imageWithTextDescription>
    <imageWithTextHeadline>
      <Value><![CDATA[Nunc facilisis ante quis gravida mollis]]></Value>
    </imageWithTextHeadline>
    <mainHeadline>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at enim vestibulum, dapibus elit quis, pellentesque justo. Proin sit amet libero quis orci convallis mollis.]]></Value>
    </mainHeadline>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "cc4e239d-718c-443d-8710-87270107a169",
    "mediaKey": "dd43a212-84c4-400c-baee-d509eab548b3",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </mainImage>
    <ourServicesHeadline>
      <Value><![CDATA[]]></Value>
    </ourServicesHeadline>
    <ourServicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesSectionTitle>
    <ourServicesWhatWeDo>
      <Value><![CDATA[]]></Value>
    </ourServicesWhatWeDo>
    <ourServicesWhatWeDoDescription>
      <Value><![CDATA[]]></Value>
    </ourServicesWhatWeDoDescription>
    <ourTeamSectionHeadline>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionHeadline>
    <ourTeamSectionImages>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionImages>
    <ourTeamSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionTitle>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <partnersImages>
      <Value><![CDATA[]]></Value>
    </partnersImages>
    <projectDate>
      <Value><![CDATA[2024-05-17T00:00:00]]></Value>
    </projectDate>
    <projectDateImage>
      <Value><![CDATA[[
  {
    "key": "cbcfcaab-018f-48bc-9eb3-f1b7c800c649",
    "mediaKey": "c73dd314-e4f1-4b1c-86f6-599d0297ae3f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectDateImage>
    <projectDescription>
      <Value><![CDATA[Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. Sed ut perspiciatis unde omnis iste natus error.]]></Value>
    </projectDescription>
    <projectImage>
      <Value><![CDATA[[
  {
    "key": "e3ecd387-8e7a-4737-a16d-e89d8ad770b9",
    "mediaKey": "9434aad5-2662-4372-9b90-c330a0ae4ac3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </projectImage>
    <projectsSectionTitle>
      <Value><![CDATA[Recent Projects]]></Value>
    </projectsSectionTitle>
    <projectTags>
      <Value><![CDATA[[
  "Report",
  "Business plans",
  "Insights",
  "Business",
  "App",
  "Project",
  "Finance",
  "Pricing"
]]]></Value>
    </projectTags>
    <projectTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </projectTitle>
    <quaternaryHeadline>
      <Value><![CDATA[Nunc facilisis ante quis gravida mollis]]></Value>
    </quaternaryHeadline>
    <quaternaryText>
      <Value><![CDATA[Ut porttitor tempus augue, quis luctus erat dapibus ac. Curabitur eu placerat purus. Vestibulum tempor velit diam, ac ultrices turpis posuere vitae. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse semper nec libero vitae elementum.

Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.]]></Value>
    </quaternaryText>
    <readMoreArrowImage>
      <Value><![CDATA[[
  {
    "key": "ef5213cf-5ddb-482d-9670-f9f620f5072e",
    "mediaKey": "1d5aa007-b84d-4be0-b9a1-a9d4374e7c21",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </readMoreArrowImage>
    <readMoreText>
      <Value><![CDATA[Read More]]></Value>
    </readMoreText>
    <readMoreUrl>
      <Value><![CDATA[]]></Value>
    </readMoreUrl>
    <recentProjectsHeadline>
      <Value><![CDATA[]]></Value>
    </recentProjectsHeadline>
    <recentProjectsImages>
      <Value><![CDATA[]]></Value>
    </recentProjectsImages>
    <recentProjectsSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentProjectsSectionTitle>
    <richTextList>
      <Value><![CDATA[{
  "markup": "\u003Cul\u003E\n\u003Cli\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/li\u003E\n\u003Cli\u003EPellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue\u003C/li\u003E\n\u003Cli\u003EIn hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.\u003C/li\u003E\n\u003C/ul\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </richTextList>
    <secondaryHeadline>
      <Value><![CDATA[Suggestions for you]]></Value>
    </secondaryHeadline>
    <successStoryBackgroundImage>
      <Value><![CDATA[]]></Value>
    </successStoryBackgroundImage>
    <successStoryBranchesNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryBranchesNumbers>
    <successStoryBranchesText>
      <Value><![CDATA[]]></Value>
    </successStoryBranchesText>
    <successStoryCustomersNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryCustomersNumbers>
    <successStoryCustomersText>
      <Value><![CDATA[]]></Value>
    </successStoryCustomersText>
    <successStoryHeadline>
      <Value><![CDATA[]]></Value>
    </successStoryHeadline>
    <successStoryProjectsNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryProjectsNumbers>
    <successStoryProjectsText>
      <Value><![CDATA[]]></Value>
    </successStoryProjectsText>
    <successStorySectionTitle>
      <Value><![CDATA[]]></Value>
    </successStorySectionTitle>
    <successStoryVideoImage>
      <Value><![CDATA[]]></Value>
    </successStoryVideoImage>
    <tags>
      <Value><![CDATA[[
  "Business",
  "Consulting",
  "Onatrix"
]]]></Value>
    </tags>
    <tagsSectionHeadline>
      <Value><![CDATA[Tags:]]></Value>
    </tagsSectionHeadline>
    <tertiaryHeadline>
      <Value><![CDATA[Nullam at blandit felis, ut efficitur lorem. Nulla pharetra turpis eget dictum condimentum]]></Value>
    </tertiaryHeadline>
    <tertiaryText>
      <Value><![CDATA[Cras posuere tristique urna sodales laoreet. Phasellus nibh nunc, porttitor vitae elementum eget, condimentum lobortis metus. Aenean imperdiet suscipit dui.

Integer quis massa sit amet diam feugiat molestie. Morbi egestas arcu eu sapien accumsan, et tempor velit viverra. Ut varius euismod malesuada. Vestibulum consectetur justo turpis. Vivamus varius purus consequat urna maximus molestie. Sed facilisis maximus quam id pretium. Donec ac orci vel quam semper tristique. Maecenas facilisis, urna sed congue pellentesque, justo augue semper nulla.

Phasellus vehicula, nulla id condimentum luctus, enim tortor semper dolor, non gravida ex nulla in lacus. Nulla ex ante, euismod sit amet quam sit amet, hendrerit maximus metus. Proin et est nec sem ultricies congue ac pretium sapien. Vestibulum varius vestibulum egestas. Nam tempor in enim quis congue.]]></Value>
    </tertiaryText>
    <testimonialsHeadline>
      <Value><![CDATA[]]></Value>
    </testimonialsHeadline>
    <testimonialsMainImage>
      <Value><![CDATA[]]></Value>
    </testimonialsMainImage>
    <testimonialsQuote>
      <Value><![CDATA[]]></Value>
    </testimonialsQuote>
    <testimonialsSectionTitle>
      <Value><![CDATA[]]></Value>
    </testimonialsSectionTitle>
    <testimonialsSignature>
      <Value><![CDATA[]]></Value>
    </testimonialsSignature>
    <testimonialsSignatureBrand>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureBrand>
    <testimonialsSignatureImage>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <whyChooseUsBackgroundDot>
      <Value><![CDATA[]]></Value>
    </whyChooseUsBackgroundDot>
    <whyChooseUsBackgroundImage>
      <Value><![CDATA[]]></Value>
    </whyChooseUsBackgroundImage>
    <whyChooseUsButtonText>
      <Value><![CDATA[]]></Value>
    </whyChooseUsButtonText>
    <whyChooseUsButtonUrl>
      <Value><![CDATA[]]></Value>
    </whyChooseUsButtonUrl>
    <whyChooseUsHeadline>
      <Value><![CDATA[]]></Value>
    </whyChooseUsHeadline>
    <whyChooseUsSectionTitle>
      <Value><![CDATA[]]></Value>
    </whyChooseUsSectionTitle>
    <whyChooseUsSubtitle>
      <Value><![CDATA[]]></Value>
    </whyChooseUsSubtitle>
  </Properties>
</Content>