<?xml version="1.0" encoding="utf-8"?>
<Content Key="bd87d0f7-f253-41ab-a536-9ecbfdcdff7b" Alias="Contact" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-08-29T14:31:18</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b47c78c0-d265-4df6-80d5-156706dade2a">contactPage</Template>
  </Info>
  <Properties>
    <aboutBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "a3d5ba00-07cc-48ea-acdc-dfe09508229e",
    "mediaKey": "08e9a3c6-b02e-40b7-9943-dd66c27cf595",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBackgroundImage>
    <aboutBackToHomepage>
      <Value><![CDATA[umb://document/e8bc52aac666492bbdefe6a1e1c83c75]]></Value>
    </aboutBackToHomepage>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutMainContentImage>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImage>
    <aboutMainContentImageCaption>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImageCaption>
    <aboutMainContentQuote>
      <Value><![CDATA[]]></Value>
    </aboutMainContentQuote>
    <aboutMainContentText>
      <Value><![CDATA[]]></Value>
    </aboutMainContentText>
    <aboutPagepicker>
      <Value><![CDATA[umb://document/bd87d0f7f25341aba5369ecbfdcdff7b]]></Value>
    </aboutPagepicker>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <contactInfoBackgroundDot>
      <Value><![CDATA[[
  {
    "key": "804070b0-274e-454a-b9f6-cd23779fca19",
    "mediaKey": "be59f252-c89f-43f2-9aa4-3329b59cc5e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundDot>
    <contactInfoBackgroundFigure>
      <Value><![CDATA[[
  {
    "key": "bc52129d-cc97-4d23-a9a4-0459bc4957b9",
    "mediaKey": "f63128c7-48d6-462a-81f5-45dd8039d63f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundFigure>
    <contactInfoBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "d31b97a9-d6ad-4374-946e-f1b5b0dfff78",
    "mediaKey": "a24edbe8-479f-4125-baa9-33709643657b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundImage>
    <contactInfoEmailAddressHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInfoEmailAddressHeadline>
    <contactInfoEmailAddressIcon>
      <Value><![CDATA[[
  {
    "key": "26df289f-91e2-4d57-89e2-14bfa88280f5",
    "mediaKey": "4c6d5cf8-f9f6-44e5-a42f-2f4a6c099cde",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoEmailAddressIcon>
    <contactInfoEmailAddressInfo>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInfoEmailAddressInfo>
    <contactInfoLocationHeadline>
      <Value><![CDATA[Office Location]]></Value>
    </contactInfoLocationHeadline>
    <contactInfoLocationIcon>
      <Value><![CDATA[[
  {
    "key": "09b7d5d9-7fca-4390-8188-fb30769e2cef",
    "mediaKey": "0fd3d2ff-359d-4c46-a9f4-597f186ca7ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoLocationIcon>
    <contactInfoLocationInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInfoLocationInfo>
    <contactInfoPhoneNumberHeadline>
      <Value><![CDATA[Phone Number]]></Value>
    </contactInfoPhoneNumberHeadline>
    <contactInfoPhoneNumberIcon>
      <Value><![CDATA[[
  {
    "key": "68ee242b-3736-4631-a041-03571ded0dfe",
    "mediaKey": "1f461916-6ead-4fa7-aa09-ae930235c8ce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoPhoneNumberIcon>
    <contactInfoPhoneNumberInfo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInfoPhoneNumberInfo>
    <contactInfoSectionTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoSectionTitle>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </heroTitle>
    <ourServicesHeadline>
      <Value><![CDATA[]]></Value>
    </ourServicesHeadline>
    <ourServicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesSectionTitle>
    <ourServicesWhatWeDo>
      <Value><![CDATA[]]></Value>
    </ourServicesWhatWeDo>
    <ourServicesWhatWeDoDescription>
      <Value><![CDATA[]]></Value>
    </ourServicesWhatWeDoDescription>
    <ourTeamSectionHeadline>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionHeadline>
    <ourTeamSectionImages>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionImages>
    <ourTeamSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionTitle>
    <pageDescription>
      <Value><![CDATA[This is a contact page]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[[
  "contact",
  "umbraco"
]]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[Contact Us]]></Value>
    </pageTitle>
    <partnersImages>
      <Value><![CDATA[[
  {
    "key": "04f88a26-5347-483c-8f22-e645086a708a",
    "mediaKey": "97dca911-17c7-458e-ae98-d66c7478e8be",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "5fabe9f3-e1f7-4365-9420-7fd82ee8bb4a",
    "mediaKey": "b93790f6-8334-4522-a4a5-db54508671be",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "d8d311a0-3e05-4c50-bed4-f34dc3a1ab87",
    "mediaKey": "d6ec9d85-8ef8-44d7-9c00-54a16541d882",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "083afbdf-d72c-412a-918d-d0c992652b98",
    "mediaKey": "73dc8189-dc9f-429e-85e8-73334788e6c6",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "fcd534f8-dbc4-4059-9581-3c9be6c86868",
    "mediaKey": "27e33cf9-f0b7-466e-8970-64dd5aaba6c2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "43284467-c58f-449d-bd0a-73e93bfa1182",
    "mediaKey": "883eb8c2-4687-415b-adbe-9870c8892968",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </partnersImages>
    <recentProjectsHeadline>
      <Value><![CDATA[]]></Value>
    </recentProjectsHeadline>
    <recentProjectsImages>
      <Value><![CDATA[]]></Value>
    </recentProjectsImages>
    <recentProjectsSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentProjectsSectionTitle>
    <successStoryBackgroundImage>
      <Value><![CDATA[]]></Value>
    </successStoryBackgroundImage>
    <successStoryBranchesNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryBranchesNumbers>
    <successStoryBranchesText>
      <Value><![CDATA[]]></Value>
    </successStoryBranchesText>
    <successStoryCustomersNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryCustomersNumbers>
    <successStoryCustomersText>
      <Value><![CDATA[]]></Value>
    </successStoryCustomersText>
    <successStoryHeadline>
      <Value><![CDATA[]]></Value>
    </successStoryHeadline>
    <successStoryProjectsNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryProjectsNumbers>
    <successStoryProjectsText>
      <Value><![CDATA[]]></Value>
    </successStoryProjectsText>
    <successStorySectionTitle>
      <Value><![CDATA[]]></Value>
    </successStorySectionTitle>
    <successStoryVideoImage>
      <Value><![CDATA[]]></Value>
    </successStoryVideoImage>
    <testimonialsHeadline>
      <Value><![CDATA[]]></Value>
    </testimonialsHeadline>
    <testimonialsMainImage>
      <Value><![CDATA[]]></Value>
    </testimonialsMainImage>
    <testimonialsQuote>
      <Value><![CDATA[]]></Value>
    </testimonialsQuote>
    <testimonialsSectionTitle>
      <Value><![CDATA[]]></Value>
    </testimonialsSectionTitle>
    <testimonialsSignature>
      <Value><![CDATA[]]></Value>
    </testimonialsSignature>
    <testimonialsSignatureBrand>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureBrand>
    <testimonialsSignatureImage>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureImage>
    <title>
      <Value><![CDATA[Contact Us]]></Value>
    </title>
    <whyChooseUsBackgroundDot>
      <Value><![CDATA[]]></Value>
    </whyChooseUsBackgroundDot>
    <whyChooseUsBackgroundImage>
      <Value><![CDATA[]]></Value>
    </whyChooseUsBackgroundImage>
    <whyChooseUsButtonText>
      <Value><![CDATA[]]></Value>
    </whyChooseUsButtonText>
    <whyChooseUsButtonUrl>
      <Value><![CDATA[]]></Value>
    </whyChooseUsButtonUrl>
    <whyChooseUsHeadline>
      <Value><![CDATA[]]></Value>
    </whyChooseUsHeadline>
    <whyChooseUsSectionTitle>
      <Value><![CDATA[]]></Value>
    </whyChooseUsSectionTitle>
    <whyChooseUsSubtitle>
      <Value><![CDATA[]]></Value>
    </whyChooseUsSubtitle>
  </Properties>
</Content>