<?xml version="1.0" encoding="utf-8"?>
<Content Key="2a420ffa-cc88-49a4-8476-9193334b4ada" Alias="Our Services (1)" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/OurServices1</Path>
    <Trashed>false</Trashed>
    <ContentType>ourServices</ContentType>
    <CreateDate>2024-09-03T10:23:15</CreateDate>
    <NodeName Default="Our Services (1)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutBackgroundImage>
      <Value><![CDATA[]]></Value>
    </aboutBackgroundImage>
    <aboutBackToHomepage>
      <Value><![CDATA[]]></Value>
    </aboutBackToHomepage>
    <aboutMainContentImage>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImage>
    <aboutMainContentImageCaption>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImageCaption>
    <aboutMainContentQuote>
      <Value><![CDATA[]]></Value>
    </aboutMainContentQuote>
    <aboutMainContentText>
      <Value><![CDATA[]]></Value>
    </aboutMainContentText>
    <aboutPagepicker>
      <Value><![CDATA[]]></Value>
    </aboutPagepicker>
    <contactInfoBackgroundDot>
      <Value><![CDATA[]]></Value>
    </contactInfoBackgroundDot>
    <contactInfoBackgroundFigure>
      <Value><![CDATA[]]></Value>
    </contactInfoBackgroundFigure>
    <contactInfoBackgroundImage>
      <Value><![CDATA[]]></Value>
    </contactInfoBackgroundImage>
    <contactInfoEmailAddressHeadline>
      <Value><![CDATA[]]></Value>
    </contactInfoEmailAddressHeadline>
    <contactInfoEmailAddressIcon>
      <Value><![CDATA[]]></Value>
    </contactInfoEmailAddressIcon>
    <contactInfoEmailAddressInfo>
      <Value><![CDATA[]]></Value>
    </contactInfoEmailAddressInfo>
    <contactInfoLocationHeadline>
      <Value><![CDATA[]]></Value>
    </contactInfoLocationHeadline>
    <contactInfoLocationIcon>
      <Value><![CDATA[]]></Value>
    </contactInfoLocationIcon>
    <contactInfoLocationInfo>
      <Value><![CDATA[]]></Value>
    </contactInfoLocationInfo>
    <contactInfoPhoneNumberHeadline>
      <Value><![CDATA[]]></Value>
    </contactInfoPhoneNumberHeadline>
    <contactInfoPhoneNumberIcon>
      <Value><![CDATA[]]></Value>
    </contactInfoPhoneNumberIcon>
    <contactInfoPhoneNumberInfo>
      <Value><![CDATA[]]></Value>
    </contactInfoPhoneNumberInfo>
    <contactInfoSectionTitle>
      <Value><![CDATA[]]></Value>
    </contactInfoSectionTitle>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroTitle>
      <Value><![CDATA[]]></Value>
    </heroTitle>
    <ourServicesDescription>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServicesDescription>
    <ourServicesImage>
      <Value><![CDATA[[
  {
    "key": "0800bc98-9472-4c28-90b6-91118bb9c438",
    "mediaKey": "34fa4c50-f639-40b7-8536-0439e504463a",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesImage>
    <ourServicesTitle>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </ourServicesTitle>
    <ourTeamSectionHeadline>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionHeadline>
    <ourTeamSectionImages>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionImages>
    <ourTeamSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionTitle>
    <testimonialsHeadline>
      <Value><![CDATA[]]></Value>
    </testimonialsHeadline>
    <testimonialsMainImage>
      <Value><![CDATA[]]></Value>
    </testimonialsMainImage>
    <testimonialsQuote>
      <Value><![CDATA[]]></Value>
    </testimonialsQuote>
    <testimonialsSectionTitle>
      <Value><![CDATA[]]></Value>
    </testimonialsSectionTitle>
    <testimonialsSignature>
      <Value><![CDATA[]]></Value>
    </testimonialsSignature>
    <testimonialsSignatureBrand>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureBrand>
    <testimonialsSignatureImage>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureImage>
  </Properties>
</Content>