<?xml version="1.0" encoding="utf-8"?>
<Content Key="94d7fe31-5d9f-4d1f-bd69-baa9e16633a0" Alias="Recent Projects" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/RecentProjects</Path>
    <Trashed>false</Trashed>
    <ContentType>recentProjects</ContentType>
    <CreateDate>2024-09-03T16:08:15</CreateDate>
    <NodeName Default="Recent Projects" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="073826df-507a-403c-9bc6-dae3ac359fa1">projectsDetail</Template>
  </Info>
  <Properties>
    <recentProjectsDescription>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsDescription>
    <recentProjectsImage>
      <Value><![CDATA[[
  {
    "key": "e88105ed-2368-457d-a3e7-bc1cbb049df2",
    "mediaKey": "a7ae62f5-57d9-4cfd-a238-9781244aea6c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage>
    <recentProjectsTitle>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentProjectsTitle>
  </Properties>
</Content>