<?xml version="1.0" encoding="utf-8"?>
<Content Key="4a42a5bf-7ad4-447a-b5a5-f7027b1fa50d" Alias="Recent Projects (3)" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/RecentProjects3</Path>
    <Trashed>false</Trashed>
    <ContentType>recentProjects</ContentType>
    <CreateDate>2024-09-03T16:09:36</CreateDate>
    <NodeName Default="Recent Projects (3)" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="073826df-507a-403c-9bc6-dae3ac359fa1">projectsDetail</Template>
  </Info>
  <Properties>
    <recentProjectsDescription>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsDescription>
    <recentProjectsImage>
      <Value><![CDATA[[
  {
    "key": "925c29e7-5f3f-4b2f-8bb6-55a5c932cce5",
    "mediaKey": "23692d41-c508-4cd4-b788-b84c14e6db39",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage>
    <recentProjectsTitle>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentProjectsTitle>
  </Properties>
</Content>