<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c7bcb26-f3bd-4447-ba56-b47a7ad62ebc" Alias="Recent Projects (1)" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/RecentProjects1</Path>
    <Trashed>false</Trashed>
    <ContentType>recentProjects</ContentType>
    <CreateDate>2024-09-03T16:08:53</CreateDate>
    <NodeName Default="Recent Projects (1)" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="073826df-507a-403c-9bc6-dae3ac359fa1">projectsDetail</Template>
  </Info>
  <Properties>
    <recentProjectsDescription>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsDescription>
    <recentProjectsImage>
      <Value><![CDATA[[
  {
    "key": "9e431488-0763-4188-ab79-345ab8240275",
    "mediaKey": "9434aad5-2662-4372-9b90-c330a0ae4ac3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage>
    <recentProjectsTitle>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentProjectsTitle>
  </Properties>
</Content>