<?xml version="1.0" encoding="utf-8"?>
<Content Key="a0384403-3f11-4785-96be-0720eb9b0590" Alias="Recent Projects (2)" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/RecentProjects2</Path>
    <Trashed>false</Trashed>
    <ContentType>recentProjects</ContentType>
    <CreateDate>2024-09-03T16:09:17</CreateDate>
    <NodeName Default="Recent Projects (2)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="073826df-507a-403c-9bc6-dae3ac359fa1">projectsDetail</Template>
  </Info>
  <Properties>
    <recentProjectsDescription>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsDescription>
    <recentProjectsImage>
      <Value><![CDATA[[
  {
    "key": "43087620-635f-4516-bb15-e3f3bddc23a7",
    "mediaKey": "8593b5b9-230e-4f85-9ccb-30f824e17259",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImage>
    <recentProjectsTitle>
      <Value><![CDATA[Financial Advisor to Irra Corp Inc.]]></Value>
    </recentProjectsTitle>
  </Properties>
</Content>