<?xml version="1.0" encoding="utf-8"?>
<Content Key="aab38546-f9a6-4c6b-9e7d-b433442a2ba1" Alias="Services" Level="2">
  <Info>
    <Parent Key="e8bc52aa-c666-492b-bdef-e6a1e1c83c75">Home</Parent>
    <Path>/Home/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-08-29T14:24:36</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="daad89b0-b09b-46ef-8a04-c27c4a7272a0">servicesPage</Template>
  </Info>
  <Properties>
    <aboutBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "f5dc25e6-31a0-468f-b743-d6aa6ee71265",
    "mediaKey": "08e9a3c6-b02e-40b7-9943-dd66c27cf595",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBackgroundImage>
    <aboutBackToHomepage>
      <Value><![CDATA[umb://document/e8bc52aac666492bbdefe6a1e1c83c75]]></Value>
    </aboutBackToHomepage>
    <aboutHeadline>
      <Value><![CDATA[]]></Value>
    </aboutHeadline>
    <aboutMainContentImage>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImage>
    <aboutMainContentImageCaption>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImageCaption>
    <aboutMainContentQuote>
      <Value><![CDATA[]]></Value>
    </aboutMainContentQuote>
    <aboutMainContentText>
      <Value><![CDATA[]]></Value>
    </aboutMainContentText>
    <aboutPagepicker>
      <Value><![CDATA[umb://document/aab38546f9a64c6b9e7db433442a2ba1]]></Value>
    </aboutPagepicker>
    <aboutQuote>
      <Value><![CDATA[]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[]]></Value>
    </aboutText>
    <contactInfoBackgroundDot>
      <Value><![CDATA[[
  {
    "key": "11374082-8406-4fc7-8eea-86b78cda1300",
    "mediaKey": "be59f252-c89f-43f2-9aa4-3329b59cc5e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundDot>
    <contactInfoBackgroundFigure>
      <Value><![CDATA[[
  {
    "key": "c15526c8-e2db-4f5f-ba8b-4ff0412f0527",
    "mediaKey": "f63128c7-48d6-462a-81f5-45dd8039d63f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundFigure>
    <contactInfoBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "22477ecf-f26f-4c3c-aba5-f04a4c9a556d",
    "mediaKey": "a24edbe8-479f-4125-baa9-33709643657b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundImage>
    <contactInfoEmailAddressHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInfoEmailAddressHeadline>
    <contactInfoEmailAddressIcon>
      <Value><![CDATA[[
  {
    "key": "22456792-083d-445e-a7b6-dae346e14260",
    "mediaKey": "4c6d5cf8-f9f6-44e5-a42f-2f4a6c099cde",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoEmailAddressIcon>
    <contactInfoEmailAddressInfo>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInfoEmailAddressInfo>
    <contactInfoLocationHeadline>
      <Value><![CDATA[Office Location]]></Value>
    </contactInfoLocationHeadline>
    <contactInfoLocationIcon>
      <Value><![CDATA[[
  {
    "key": "529f321b-c6af-4f36-8643-2e0a173588d4",
    "mediaKey": "0fd3d2ff-359d-4c46-a9f4-597f186ca7ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoLocationIcon>
    <contactInfoLocationInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInfoLocationInfo>
    <contactInfoPhoneNumberHeadline>
      <Value><![CDATA[Phone Number]]></Value>
    </contactInfoPhoneNumberHeadline>
    <contactInfoPhoneNumberIcon>
      <Value><![CDATA[[
  {
    "key": "67f26c00-7f7f-4a87-be55-36903f6e4293",
    "mediaKey": "1f461916-6ead-4fa7-aa09-ae930235c8ce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoPhoneNumberIcon>
    <contactInfoPhoneNumberInfo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInfoPhoneNumberInfo>
    <contactInfoSectionTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoSectionTitle>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <heroBackgroundImage>
      <Value><![CDATA[]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[]]></Value>
    </heroText>
    <heroTitle>
      <Value><![CDATA[Our Services]]></Value>
    </heroTitle>
    <ourServicesHeadline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </ourServicesHeadline>
    <ourServicesSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesSectionTitle>
    <ourServicesWhatWeDo>
      <Value><![CDATA[[
  {
    "key": "2eef84af-7d2c-45b2-ad0c-e1b7547c9325",
    "mediaKey": "c80853b8-c2e7-476b-94f2-ff45971fee6d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "8856c37a-2410-47d6-816c-4fec8dff2a21",
    "mediaKey": "34fa4c50-f639-40b7-8536-0439e504463a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "b1e4c662-2e4f-46a7-ae03-83a2333a853b",
    "mediaKey": "57212a0a-fa77-4272-856e-e6aeb356c927",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "6a022b66-77af-4847-bae9-15cc34c89f06",
    "mediaKey": "1313d6f6-e4ed-4b00-aa03-bb0b9008272c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "4a1c6e70-38f1-4844-98bf-bce2ecc09d88",
    "mediaKey": "9e0b7688-4a66-4058-9879-a7c6e1ee06de",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  },
  {
    "key": "647102d0-32fc-4d0a-bf62-749a170939f6",
    "mediaKey": "12a06b70-102e-4014-99b4-ea2d523042f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServicesWhatWeDo>
    <ourServicesWhatWeDoDescription>
      <Value><![CDATA[]]></Value>
    </ourServicesWhatWeDoDescription>
    <ourTeamSectionHeadline>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionHeadline>
    <ourTeamSectionImages>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionImages>
    <ourTeamSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionTitle>
    <pageDescription>
      <Value><![CDATA[]]></Value>
    </pageDescription>
    <pageKeywords>
      <Value><![CDATA[]]></Value>
    </pageKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <partnersImages>
      <Value><![CDATA[]]></Value>
    </partnersImages>
    <recentProjectsHeadline>
      <Value><![CDATA[]]></Value>
    </recentProjectsHeadline>
    <recentProjectsImages>
      <Value><![CDATA[]]></Value>
    </recentProjectsImages>
    <recentProjectsSectionTitle>
      <Value><![CDATA[]]></Value>
    </recentProjectsSectionTitle>
    <successStoryBackgroundImage>
      <Value><![CDATA[]]></Value>
    </successStoryBackgroundImage>
    <successStoryBranchesNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryBranchesNumbers>
    <successStoryBranchesText>
      <Value><![CDATA[]]></Value>
    </successStoryBranchesText>
    <successStoryCustomersNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryCustomersNumbers>
    <successStoryCustomersText>
      <Value><![CDATA[]]></Value>
    </successStoryCustomersText>
    <successStoryHeadline>
      <Value><![CDATA[]]></Value>
    </successStoryHeadline>
    <successStoryProjectsNumbers>
      <Value><![CDATA[]]></Value>
    </successStoryProjectsNumbers>
    <successStoryProjectsText>
      <Value><![CDATA[]]></Value>
    </successStoryProjectsText>
    <successStorySectionTitle>
      <Value><![CDATA[]]></Value>
    </successStorySectionTitle>
    <successStoryVideoImage>
      <Value><![CDATA[]]></Value>
    </successStoryVideoImage>
    <testimonialsHeadline>
      <Value><![CDATA[]]></Value>
    </testimonialsHeadline>
    <testimonialsMainImage>
      <Value><![CDATA[]]></Value>
    </testimonialsMainImage>
    <testimonialsQuote>
      <Value><![CDATA[]]></Value>
    </testimonialsQuote>
    <testimonialsSectionTitle>
      <Value><![CDATA[]]></Value>
    </testimonialsSectionTitle>
    <testimonialsSignature>
      <Value><![CDATA[]]></Value>
    </testimonialsSignature>
    <testimonialsSignatureBrand>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureBrand>
    <testimonialsSignatureImage>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureImage>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <whyChooseUsBackgroundDot>
      <Value><![CDATA[]]></Value>
    </whyChooseUsBackgroundDot>
    <whyChooseUsBackgroundImage>
      <Value><![CDATA[]]></Value>
    </whyChooseUsBackgroundImage>
    <whyChooseUsButtonText>
      <Value><![CDATA[]]></Value>
    </whyChooseUsButtonText>
    <whyChooseUsButtonUrl>
      <Value><![CDATA[]]></Value>
    </whyChooseUsButtonUrl>
    <whyChooseUsHeadline>
      <Value><![CDATA[]]></Value>
    </whyChooseUsHeadline>
    <whyChooseUsSectionTitle>
      <Value><![CDATA[]]></Value>
    </whyChooseUsSectionTitle>
    <whyChooseUsSubtitle>
      <Value><![CDATA[]]></Value>
    </whyChooseUsSubtitle>
  </Properties>
</Content>