<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cad0658-3bcb-4643-a8b3-dd303e8f4497" Alias="Tax and Trusts" Level="3">
  <Info>
    <Parent Key="aab38546-f9a6-4c6b-9e7d-b433442a2ba1">Services</Parent>
    <Path>/Home/Services/TaxAndTrusts</Path>
    <Trashed>false</Trashed>
    <ContentType>serviceDetail</ContentType>
    <CreateDate>2024-09-09T12:20:31</CreateDate>
    <NodeName Default="Tax and Trusts" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ae99d138-7386-40de-badb-ee1e1e45a19c">serviceDetail</Template>
  </Info>
  <Properties>
    <aboutBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "9ffd1747-0e40-412c-86f4-98ae087e545a",
    "mediaKey": "08e9a3c6-b02e-40b7-9943-dd66c27cf595",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutBackgroundImage>
    <aboutBackToHomepage>
      <Value><![CDATA[umb://document/e8bc52aac666492bbdefe6a1e1c83c75]]></Value>
    </aboutBackToHomepage>
    <aboutMainContentImage>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImage>
    <aboutMainContentImageCaption>
      <Value><![CDATA[]]></Value>
    </aboutMainContentImageCaption>
    <aboutMainContentQuote>
      <Value><![CDATA[]]></Value>
    </aboutMainContentQuote>
    <aboutMainContentText>
      <Value><![CDATA[]]></Value>
    </aboutMainContentText>
    <aboutPagepicker>
      <Value><![CDATA[umb://document/8cad06583bcb4643a8b3dd303e8f4497]]></Value>
    </aboutPagepicker>
    <contactInfoBackgroundDot>
      <Value><![CDATA[[
  {
    "key": "79166566-d513-4214-949d-9416287f9e5a",
    "mediaKey": "be59f252-c89f-43f2-9aa4-3329b59cc5e3",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundDot>
    <contactInfoBackgroundFigure>
      <Value><![CDATA[[
  {
    "key": "dc35fa8a-fa53-4c79-89d0-680e0834c369",
    "mediaKey": "f63128c7-48d6-462a-81f5-45dd8039d63f",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundFigure>
    <contactInfoBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "e22df38d-cf3b-4d4c-9295-fcd7b0827558",
    "mediaKey": "a24edbe8-479f-4125-baa9-33709643657b",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoBackgroundImage>
    <contactInfoEmailAddressHeadline>
      <Value><![CDATA[E-mail address]]></Value>
    </contactInfoEmailAddressHeadline>
    <contactInfoEmailAddressIcon>
      <Value><![CDATA[[
  {
    "key": "a781a14e-35a2-48f0-808a-28a140088715",
    "mediaKey": "4c6d5cf8-f9f6-44e5-a42f-2f4a6c099cde",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoEmailAddressIcon>
    <contactInfoEmailAddressInfo>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </contactInfoEmailAddressInfo>
    <contactInfoLocationHeadline>
      <Value><![CDATA[Office Location]]></Value>
    </contactInfoLocationHeadline>
    <contactInfoLocationIcon>
      <Value><![CDATA[[
  {
    "key": "6d41ec72-eb80-40e5-97b4-da14a0e3dce2",
    "mediaKey": "0fd3d2ff-359d-4c46-a9f4-597f186ca7ad",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoLocationIcon>
    <contactInfoLocationInfo>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </contactInfoLocationInfo>
    <contactInfoPhoneNumberHeadline>
      <Value><![CDATA[Phone Number]]></Value>
    </contactInfoPhoneNumberHeadline>
    <contactInfoPhoneNumberIcon>
      <Value><![CDATA[[
  {
    "key": "fa8ea8e5-3e73-4270-9d38-722d85d510e2",
    "mediaKey": "1f461916-6ead-4fa7-aa09-ae930235c8ce",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </contactInfoPhoneNumberIcon>
    <contactInfoPhoneNumberInfo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </contactInfoPhoneNumberInfo>
    <contactInfoSectionTitle>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </contactInfoSectionTitle>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
    <form2EmailPlaceholder>
      <Value><![CDATA[Email]]></Value>
    </form2EmailPlaceholder>
    <form2Headline>
      <Value><![CDATA[Have a Question?]]></Value>
    </form2Headline>
    <form2NamePlaceholder>
      <Value><![CDATA[Name]]></Value>
    </form2NamePlaceholder>
    <form2QuestionPlaceholder>
      <Value><![CDATA[Question]]></Value>
    </form2QuestionPlaceholder>
    <form2SubmitText>
      <Value><![CDATA[Submit]]></Value>
    </form2SubmitText>
    <formDescription>
      <Value><![CDATA[online support 24/7, we are here to help you]]></Value>
    </formDescription>
    <formHeadline>
      <Value><![CDATA[How can we help you?]]></Value>
    </formHeadline>
    <formImage>
      <Value><![CDATA[[
  {
    "key": "4f587d09-5380-4089-bd23-f9afe22030ad",
    "mediaKey": "9dfc3900-4c1c-4ee6-8e38-c44c58ea945c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </formImage>
    <headline1>
      <Value><![CDATA[Key Point]]></Value>
    </headline1>
    <headline1Image>
      <Value><![CDATA[[
  {
    "key": "11a89a98-3fb4-4d7b-b7f4-6e15730db1ad",
    "mediaKey": "1313d6f6-e4ed-4b00-aa03-bb0b9008272c",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headline1Image>
    <headline1List>
      <Value><![CDATA[{
  "markup": "\u003Cul\u003E\n\u003Cli\u003EFinancial planning is the process of helping clients meet their financial needs today and reach their dreams and goals tomorrow.\u003C/li\u003E\n\u003Cli\u003EPellentesque fringilla augue quis dolor dapibus semper eget non nibh. Ut lobortis, nulla sed euismod posuere, quam magna scelerisque lectus, auctor iaculis quam ligula nec augue\u003C/li\u003E\n\u003Cli\u003EIn hac habitasse platea dictumst. Aliquam felis ante, tincidunt sed magna auctor, aliquet dapibus turpis.\u003C/li\u003E\n\u003C/ul\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </headline1List>
    <headline2>
      <Value><![CDATA[A financial plan is based on a personal relationship]]></Value>
    </headline2>
    <headline2FirstText>
      <Value><![CDATA[No matter where you find yourself today or see yourself in the future, a financial planning relationship with an Ameriprise financial advisor can help you find your financial balance and bring your dreams and goals more within reach.

Our Confident Retirement approach to financial planning begins with a one-on-one conversation. At its core is a personal relationship with an advisor dedicated to helping you reach the future you imagine, on your own terms, in a way that is convenient for you.

The financial planning process all starts with learning about you. Your advisor will take the time to:]]></Value>
    </headline2FirstText>
    <headline2Image>
      <Value><![CDATA[[
  {
    "key": "da4ad62a-def9-4908-941d-9413d472c0f9",
    "mediaKey": "5a5aa823-1218-477c-ae02-897d0c41a99d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headline2Image>
    <headline2List>
      <Value><![CDATA[{
  "markup": "\u003Cul\u003E\n\u003Cli\u003EListen closely to you and learn what you value\u003C/li\u003E\n\u003Cli\u003EAnalyze your current financial situation\u003C/li\u003E\n\u003Cli\u003EUnderstand your feelings about managing money and investments\u003C/li\u003E\n\u003C/ul\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </headline2List>
    <headline2SecondText>
      <Value><![CDATA[Then your advisor will offer personalized advice and guidance to help you reach your financial goals. Ameriprise advisors have access to a broad array of solutions to help you plan for your confident future.

And once you have a plan in place, you may feel more confident knowing that your advisor will stay with you over time, helping you track your progress toward your goals and making adjustments along the way when your life or dreams change.]]></Value>
    </headline2SecondText>
    <headline3>
      <Value><![CDATA[We’ll help you achieve financial confidence]]></Value>
    </headline3>
    <headline3Description>
      <Value><![CDATA[Working with a financial advisor may help you come away feeling more confident knowing that you have the support you need to help:]]></Value>
    </headline3Description>
    <headline3Image>
      <Value><![CDATA[]]></Value>
    </headline3Image>
    <headline3List>
      <Value><![CDATA[{
  "markup": "\u003Cul\u003E\n\u003Cli\u003ECover your essentials. Essentials are the monthly expenses that keep your life running.\u003C/li\u003E\n\u003Cli\u003EEnsure your lifestyle. Lifestyle is about the things that you want to do, and how you want to live, today and in the future.\u003C/li\u003E\n\u003Cli\u003EPrepare for the unexpected. The unexpected are events that could derail your financial plans.\u003C/li\u003E\n\u003Cli\u003ELeave a legacy. Legacy is about the impact you\u2019ll make on the people, charities and causes that are important to you.\u003C/li\u003E\n\u003C/ul\u003E",
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "Layout": {}
  }
}]]></Value>
    </headline3List>
    <heroTitle>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </heroTitle>
    <leftHeadline>
      <Value><![CDATA[About us]]></Value>
    </leftHeadline>
    <leftImage>
      <Value><![CDATA[[
  {
    "key": "5ae51830-3f91-431e-8824-74984d443b1b",
    "mediaKey": "12a06b70-102e-4014-99b4-ea2d523042f9",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </leftImage>
    <leftText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </leftText>
    <ourServicesDescription>
      <Value><![CDATA[]]></Value>
    </ourServicesDescription>
    <ourServicesImage>
      <Value><![CDATA[]]></Value>
    </ourServicesImage>
    <ourServicesTitle>
      <Value><![CDATA[]]></Value>
    </ourServicesTitle>
    <ourTeamSectionHeadline>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionHeadline>
    <ourTeamSectionImages>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionImages>
    <ourTeamSectionTitle>
      <Value><![CDATA[]]></Value>
    </ourTeamSectionTitle>
    <testimonialsHeadline>
      <Value><![CDATA[]]></Value>
    </testimonialsHeadline>
    <testimonialsMainImage>
      <Value><![CDATA[]]></Value>
    </testimonialsMainImage>
    <testimonialsQuote>
      <Value><![CDATA[]]></Value>
    </testimonialsQuote>
    <testimonialsSectionTitle>
      <Value><![CDATA[]]></Value>
    </testimonialsSectionTitle>
    <testimonialsSignature>
      <Value><![CDATA[]]></Value>
    </testimonialsSignature>
    <testimonialsSignatureBrand>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureBrand>
    <testimonialsSignatureImage>
      <Value><![CDATA[]]></Value>
    </testimonialsSignatureImage>
  </Properties>
</Content>