<?xml version="1.0" encoding="utf-8"?>
<Content Key="92d33f3a-df76-4635-9266-1c3046232d15" Alias="Team Member (1)" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember1</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:14:04</CreateDate>
    <NodeName Default="Team Member (1)" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "c47e2661-fab5-4f67-85bb-14efe1586fb6",
    "mediaKey": "fd2e782a-45b0-43d5-91ce-bd0a85618ad4",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[AJ Carter]]></Value>
    </memberName>
  </Properties>
</Content>