<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fd33ed2-8c4e-4544-8a7a-a4c322a35210" Alias="Team Member (4)" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember4</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:15:58</CreateDate>
    <NodeName Default="Team Member (4)" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "3b99b64f-e549-4151-959a-4b916a14f0d3",
    "mediaKey": "eac3a6ee-277f-44ae-9f2e-29c7bfcc09a2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </memberName>
  </Properties>
</Content>