<?xml version="1.0" encoding="utf-8"?>
<Content Key="644dd000-932c-447f-9a58-ba032f7018e3" Alias="Team Member (6)" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember6</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:16:50</CreateDate>
    <NodeName Default="Team Member (6)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "d5243fbf-4d4b-4642-a45f-8b10b81af105",
    "mediaKey": "92fcac3f-ead4-40ad-b8bf-c4e38d6356af",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </memberName>
  </Properties>
</Content>