<?xml version="1.0" encoding="utf-8"?>
<Content Key="a39e9229-ad67-4594-b891-310e5df0eb0e" Alias="Team Member" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:03:47</CreateDate>
    <NodeName Default="Team Member" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "03ab2769-fd27-40e3-8173-de608a270dce",
    "mediaKey": "7585e070-b08a-418f-8e93-3729c54cd8f7",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[Brandon Newton]]></Value>
    </memberName>
  </Properties>
</Content>