<?xml version="1.0" encoding="utf-8"?>
<Content Key="a43e0642-6777-405c-82cb-6d677c782385" Alias="Team Member (2)" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember2</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:15:08</CreateDate>
    <NodeName Default="Team Member (2)" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "a979a7b6-9f0f-4ed2-9295-3ff9d3663323",
    "mediaKey": "a1fc0182-1f25-4583-8e69-86d2b5b4ab35",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </memberName>
  </Properties>
</Content>