<?xml version="1.0" encoding="utf-8"?>
<Content Key="b0b2e990-90af-4b11-bf32-d6ce32759c77" Alias="Team Member (3)" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember3</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:15:35</CreateDate>
    <NodeName Default="Team Member (3)" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "2adad2fb-2ca6-425b-9785-3b660f41e017",
    "mediaKey": "c2fc21ab-2b18-4e76-8027-398b6a842b6e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[Tina Fox]]></Value>
    </memberName>
  </Properties>
</Content>