<?xml version="1.0" encoding="utf-8"?>
<Content Key="0d34cbc7-65dd-4d86-82af-745fdeccf615" Alias="Team Member (5)" Level="3">
  <Info>
    <Parent Key="f0149add-764a-40fb-8f24-f154d01c7169">About</Parent>
    <Path>/Home/About/TeamMember5</Path>
    <Trashed>false</Trashed>
    <ContentType>teamMember</ContentType>
    <CreateDate>2024-09-02T15:16:30</CreateDate>
    <NodeName Default="Team Member (5)" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </description>
    <image>
      <Value><![CDATA[[
  {
    "key": "12f03eb9-683b-4772-964e-7c99c2afae4f",
    "mediaKey": "e59945b9-7bdd-4cea-b07b-547e6844880e",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </image>
    <memberName>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </memberName>
  </Properties>
</Content>